<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice | freeCodeCamp.org</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>Timestamp Microservice</h1>
    <hr />
    <div class="container">
      <h3>Usage:</h3>
      <ul>
        <li><a href="api/1993-06-20">[project url]/api/1993-06-20</a></li>
        <li><a href="api/740548800000">[project url]/api/740548800000</a></li>
      </ul>

      <h3>Output:</h3>
      <p>
        <code>{"unix":740602800000, "utc":"Sun, 20 Jun 1993 00:00:00 GMT"}</code>
      </p>
    </div>
    <div class="footer">
      <p>
        By Alex Curtis-Slep for <a href="https://www.freecodecamp.org/">freeCodeCamp.org</a>
      </p>
    </div>
  </body>
</html>
